<nav style="background: #2c8eb3">
    <div class="side-navbar">
      <div style="padding-bottom: 10px;  text-align: center"><a class="brand-logo">Reportes de Hoy</a></div>
      <a [routerLink]="['/principal']">
          <i class="fa fa-arrow-left fa-2x" style="margin-left: 10px;"></i>
      </a>
    </div>
</nav>
<div class="card z-depth-2">
          <select class="browser-default" name="reporteTipo" [(ngModel)]="tipo" (change)="seleccionarTipo()">
            <option value="1">Todos los Reportes</option>
            <option value="2">Mis Reportes</option>
          </select>
          <br/>
          <ul class="collection">
              <li class="collection-item avatar" *ngFor="let reporte of reportes">
                <a style="color:black" [routerLink]="['/reporteseguimiento', reporte.idunico]">
                  <i class="fa fa-bullhorn circle" style="background: #227595">
                    
                  </i>
                  <span class="title">{{reporte.tipo}} <span class="badge red" style="color:white">{{reporte.fecha}}</span> </span>
                  <p>{{reporte.comentario.substring(0, 70)}} ...
                  </p>
                </a>
              </li>
            </ul>
</div>
