<nav class="z-depth-0" style="height: auto; background: #2c8eb3">
  <div style='display: block;top:0;left:0;'>
      <img src="assets/img/SeCivico.png" alt="" class='responsive-img'/>
  </div> 
  <div class="side-navbar " >                               
      <div style='position:absolute;top:0;left:0;'>
          <a href="#" data-activates="mobile-demo" class="button-collapse">
              <img src="assets/ico/ic_menu_white_18dp.png" alt=""/>
          </a>
          
          <ul class="side-nav" id="mobile-demo" style="background: #062036; color:white">
              <br/>
            <li class="">
              <a>
                  <div class="row">                   
                      <div class="col s12" style="vertical-align: central;color:white" [routerLink]="['usuario']"><i class="fa fa-user"></i> Tu Usuario</div>
                  </div>
              </a>
            </li>
           
          </ul>
      </div>
      <div style='position:absolute;top:5px;right:15px;'>
          <a class="btn btn-floating pulse right red" [routerLink]="['reportedia']" *ngIf="this.numReportes>0">
              <i class="fa fa-exclamation"></i>
          </a>
      </div>
  </div>
</nav>
<div class="container">
  <div class=" col s12 m12" style="text-align: center; color:white;">
      
      <b> Bienvenido a GuardCity, un aplicativo con el que hacemos nuestra ciudad mas segura.</b>
      <br/>
      
  </div>
  <div class=" col s12 m12" style="text-align: justify; color:white;">
      <br/>
      <b>GuardCity</b> es una aplicación que permite al usuario hacer parte de la mas grande comunidad de denuncia ciudadana 
      en conjunto con las autoridades de tu ciudad en tiempo real, con GuardCity hacemos nuestra ciudad mas segura.
      <br/>
      <br/>
      Con GuardCity puedes:
  </div>
  
</div>
<div class=" col s12 m12" style="text-align: justify;">
      <ul class="collection">
          <li class="collection-item avatar" >
            <a style="color:black" [routerLink]="['reportes']">
              <i class="fa fa-bullhorn circle" style="background: #227595">
                
              </i>
              <span class="title">Reportes de Actividades</span>
              <p>Reportar diferentes tipos de Actividades en tu ciudad
              </p>
            </a>
          </li>
          <li class="collection-item avatar" >
            <a style="color:black"  [routerLink]="['historicos']">
              <i class="fa fa-folder-open circle" style="background: #227595"></i>
              <span class="title">Historico de Mis Reportes</span>
              <p>Mira tus reportes y el seguimiento de los mismos
              </p>
            </a>
          </li>
          <li class="collection-item avatar" >
            <a style="color:black"  [routerLink]="['zonas']">
              <i class="fa fa-map circle" style="background: #227595"></i>
              <span class="title">Zonas en tu Ciudad</span>
              <p>Conoce cuales son las zonas seguras e inseguras de tu ciudad
              </p>
            </a>
          </li>
          <!--<li class="collection-item avatar" >
            <a style="color:black"  [routerLink]="['reportes']">
              <i class="fa fa-map-marker circle" style="background: #227595"></i>
              <span class="title">Rutas Seguras</span>
              <p>Programa tus rutas e informa si te desvias
              </p>
            </a>
          </li>
          <li class="collection-item avatar" >
            <a style="color:black"  [routerLink]="['reportes']">
              <i class="fa fa-search circle" style="background: #227595"></i>
              <span class="title">Encuentrame</span>
              <p>Conoce el lugar donde esta tu equipo
              </p>
            </a>
          </li>-->
        </ul>
  </div>
<div class="container">
  <div class=" col s12 m12" style="text-align: justify; color:white;">
       Todo esto en tiempo real, creando una comunidad colaborativa unica y sin precedentes,
      <br/><b>GuardCity</b> hacemos una mejor ciudad
      <br/>
      <br/>
  </div>                        
</div>


<footer class="page-footer" style="background: #227595; color: white; text-align: justify">
<div class="container"> 
    <div class="row">
        <div class="col l12">
           <i class="fa fa-exclamation-triangle"></i> <b>GuardCity</b> no se hacen responsable de la informacion enviada por los usuarios, 
           se realizara un filtro de la informacion que se considere inapropiada. 
           Toda informacion es generada por los usuarios y es de su completa propiedad y responsabilidad.
           <br/><b>Recuerda que aportar informacion real hace mas fuerte la comunidad.</b>
        </div>
        
    </div>
      
</div>
<div class="footer-copyright">
  <div class="container">
      2016 GuardCity
  
  </div>
</div>
</footer>

  

<input id="lon" type="hidden">
<input id="lat" type="hidden">
<input id="limit" type="hidden">
