<nav style="background: #2c8eb3">
    <div class="side-navbar">
      <div style="padding-bottom: 10px;  text-align: center"><a class="brand-logo">Reportes</a></div>
      <a href="javascript:history.back(1)">
          <i class="fa fa-arrow-left fa-2x" style="margin-left: 10px;"></i>
      </a>
    </div>
</nav>
<div class="card z-depth-2">
  <div class="card-content black-text">
      <div class="container">
            <div class="col s12">
                <br/>
                <label><b>Que Reportas?</b></label>
                <select class="browser-default" [(ngModel)]="reporte.tipo" name="tipo">
                    <option *ngFor="let c of tipo_reporte" [ngValue]="c.texto">{{c.texto}}</option>
                </select>
            </div>
            <div class="col s12">
                <br/>
                <label><b>Fotografia</b></label><br/>
                <div style="width: 100%; text-align: center">
                    <img [src]="imagen.src" [ngStyle]="{'width':imagen.width, 'height': imagen.height}" (click)="obtenerFotografia()">
                </div>
                
            </div>
            <br/>
            <label for="textarea1"><b>Mas informacion </b></label>
            <div class="input-field col s12">
              <textarea [(ngModel)]="reporte.comentario" id="comentario" name="comentario" class="materialize-textarea" placeholder="Indique Informacion como << moto grande de color X y placas XXX >> o << Sujeto sospechoso con camisa de color verde >>"></textarea>
              
            </div>                            
          <div class="col s12">                                
              <a class="waves-effect waves-light btn-large" style="width: 99%" (click)="enviarReporte()"><i class="mdi-content-send"></i> Enviar</a>                                
          </div>
          <div class="col s12">  
              <br/>
          </div>
      </div>
  </div>
</div>


<div id="modalCargando" class="modal">
    <div class="modal-content" style="text-align: center">
      <h5>GuardCity</h5>
      <i class="fa fa-circle-o-notch fa-5x fa-spin"></i>
    </div>
  </div>

  <div id="modalGuardado" class="modal">
    <div class="modal-content" style="text-align: center">
      <h5>GuardCity</h5>
      Se guardo tu reporte con exito
        <div class="col s12">                                
            <a class="waves-effect waves-light btn-large" style="width: 99%" (click)="mostrarReportesHoy()">
                <i class="fa fa-check"></i> Aceptar
            </a>
        </div>
    </div>
  </div>